---
notitle: true
---
		<section class="flex flex-col py-4" id="roll_<%= roll_number %>">
      <header class="my-6 text-center print:my-0">
        <span class="text-xs"><a class="print:hidden" href="/">←</a> <%= shot_at || scanned_at %></span>
        <h1 class="my-2 text-lg font-black"><%= roll_number %></h1>
        <h2 class="text-sm"><%= camera %> • <%=film %></h2>
      </header>
			<div class="columns-3 print:columns-5 break-inside gap-1 -mx-32 print:mx-0">
        <% files.each do |file| %>
          <%= image_tag(thumb_path(File.join(directory, file)), class: "print:break-inside-avoid-page break-inside p-1 first:mt-0 my-2 w-full") %>
        <% end %>
			</div>
		</section>
